*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.bg-purple{
    background-color: #5D327A;
}
.co-red{
    background-color: red;
}
/*header section start*/
header{
    background-color: #2b4d9d;
    
}
header .nav-underline li .nav-link{
    color:white;

}
header ul li .nav-link{
    color:white;

}

header .active{
    color:white;
}
header .btn{
    color: #47c907;
}
header .btn:hover{
    color: red
}

form ul li .dropdown-toggle:hover{
    color: white;
}
/*header section start*/
/*main section start*/
main{
    background: url(../img/background\ heart.jpg)no-repeat scroll;
    height: auto;
    background-size: cover;
    background-position:  center;
   
}
main  .row .col h1{
   font-size: 47px;
   font-weight: 300;
}

main .row .nav-pills .nav-link{
    background-color: #513271;
    padding: 10px 15px;
    margin: 4px;
    color:white;
    border-radius: 0px;
}
main .row .nav-pills .nav-link.active{
    background-color: #9a2525;
    
}
#pills-tabContent .box{
    height: 75px;
    width: 75px;
    border-radius: 40px;

}




/*main section end*/

/* Fun  section start*/
#fun{
    background: url(../img/naturebackground.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    color:white;
    padding: 30px;
}
#fun .row .box{
    margin: 10px;
}
#fun h3{
      
    margin-bottom: 30px;

}
#fun .box
{
    background-color: rgb(56, 54, 54);
    height: 170px;
    color: white;
    text-align: center;
}
/* Fun section end*/

/* Suscribe section start*/
#suscribe{
    background: url(../img/news3.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
   
}
#suscribe input{
    height: 40px;
    font-size: 19px;
    border:2px outset white;
    width: 60%;
    padding: 0px 10px;
    transition:all 0.5s;
    background: transparent;
}
#suscribe input:focus{
    outline: none;
    border:2px solid blue;
}
#suscribe button{
padding: 10px 15px;
font-size: 17px;
font-weight: 50px;
}
/* Suscribe section end*/

/* Popular section start*/
#popular{
    background-color: #1F172F;
    height: auto;
}
#popular .box{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#popular .box img{
    width: 100%;
}

/* Popular section end*/

/* Estimate  section start*/
#estimate{
background: url(../img/footer.jpg) no-repeat;

height: 300px;
background-size: cover;
background-position: center;

}
#estimate .row .form-control{
    border-radius: 0%;
}

#estimate  #mybutton{
    font-weight: 400;
    background-color: #F89601;
    
}
/* Estimate  section end*/

/* footer  section start*/
 footer{
    background-color:#1D1928 ;
 }
/* footer  section end*

/* max-width 992px start */
@media screen and (max-width:991px) 
{
    #estimate .col-4
    {
        margin-bottom: 10px;
    }
    
}
/* max-width 992px start */




/* max-width 767px start */
@media screen and (max-width:767px) 
{
    main .row h1{
    font-size: 40px;
    text-align: center;
    }
    main .row h3{
        text-align: center;
        }

    main .bg-purple  .col-md-3 button{
        margin: 8px;
    }
    #pills-tabContent .box{
        height: 75px;
        width: 75px;
        border-radius: none;
    
    }
    #pills-tabContent .col-auto
    {
        text-align: center;
    }

    #estimate .col-4
    {
        margin-top: 10px;
    }
 }
 /* max-width 767px end */
 /* max-width 575px start */
 @media screen and (max-width:575px) {
 main .row h1{
 font-size: 30px;
 text-align: center;
 }
 main .row h3{
    text-align: center;
    }

 #estimate #mybutton{
    padding-top: 7px;
    font-size: 13px;
 }
 }
 /* max-width 575px end *